<p>assign12-dec works!</p>
<div class="containar">
    <div class="row   justify-content-center">
        <div class="col-md-6"  text-left rounded  shadow py-5>
            <form (ngSubmit)="OnSubmit(myForm)" #myForm="ngForm">
                <div ngModelGroup="userdetail" #userdetail="ngModelGroup">
                    <h2>Subscription Form</h2>
            <div class="form-group" class="col-md-8 mb-3">
                <label for="username">User Name:</label>
                <input type="text" class="form-control" id="username1" name="username1" placeholder="Enter user name" [(ngModel)]="username1" ngModel required>
                <small *ngIf="username1">User Name is:{{username1}}</small>
            </div>


            <div class="form-group" class="col-md-8 mb-3">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email"    email name="email" placeholder="Enter email" ngModel   #email="ngModel"   required>
                <small class="text-danger" *ngIf="!email.valid && email.touched">Email should not be Empty <br>test@codemindtechnology.com </small>
              </div>

              <div class="form-group"   class="col-md-8 mb-3">
                <label for="password"> Enter password:</label>
                <input type="password" class="form-control" id="password"      name="password" placeholder="Enter password" ngModel   #password="ngModel"   required>
                <small class="text-danger" *ngIf="!email.valid && email.touched">Enter correct password </small>
              </div>
                </div>

                <div class="form-group" class="col-md-3 mb-3"> 
                    <label for="course">Choose Subscription</label>
                    <select class="form-control" name="subscription" id="course" [ngModel]="defoltValue">
                        <option value="Advanced">Advanced</option>
                        <option value="Basic">Basic</option>
                        <option value="Pro">Pro</option>
                    </select>
                </div>


                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2" [disabled]="!myForm.valid"    >Submit</button>
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<button type="reset" class="btn btn-success"   > Reset </button>
                  </div>

            </form>

         
            <div class="containar" *ngIf="submitted" style="background-color: rgb(225, 213, 236);  color: brown;">
                <div class="row  justify-content-center py-4" >
                    <h3>Subscription Form</h3>
        <p>User Name:    <strong>{{sub.Name}}</strong></p>
        <p>Email Address:<strong>{{sub.email}}</strong></p>
        <p>password:     <strong>{{sub.password}}</strong></p>
        <p> subscription    <strong>{{sub.subscription}}</strong></p>
                </div>
            </div>




        </div>
    </div>
   


</div>