.c1{
    font-size: large;
    text-align: center;
    background-color: rgb(240, 158, 158);
    border: 4px;
    border-color: black;
}
.c3{
    font-size: large;
    text-align: center;
    background-color: rgb(219, 59, 11);
    border: 4px;
    border-color: black;
}
