<!-- 
<p class="c3"> Welcome to Angular8!</p>

<p class="c1"> This is a Warning,you are in danger!</p> -->



<!-- <button [disable]=" serverStatus"> add server</button> -->
<!-- <div>
    <table class="tt">
        <tr>
        <td> course_name:Fullstack Develper</td></tr>
        <tr>  <td>DevelopedBy:Mithun Roi</td></tr>
            <tr> <td>DevelopedYear:2005</td></tr>
                <tr> <td>Sr.No:1</td></tr>
    </table>
</div> -->
<!-- <p>Enter food name</p> -->

<!-- steps 1 user entering foods name   -->
<!-- <input type="text" (keyup.enter)="addtofood(item.value)" #item> -->

  
    <!-- <label>srNo<label><input type="text" #item>
        <label>courseNam<label><input type="text" #item>
            <label>developedBy<label><input type="text" #item>
                <label>developedYear<label><input type="text" #item> -->
 <!-- <div style="color:rgb(60, 7, 183) ; margin-left: 600px;">
  
 <h3 > @output decorator assignment </h3>
  <p >click on Show Button  get Data from child to Parent component </p>


<button   (click) ="getData(courses)" #item   style="background-color:rgb(196, 19, 151) ; height: 50px; width:800 ;">SHOW</button>
 </div> -->
<!-- <input type="button"  value="SHOW"   (click) ="getData(item.value)" #item>  -->