.table{
    background-color: antiquewhite;
    color: brown;
    margin-left: 300pt;
    height: 400px;
    width: 900px;
}

.header,a,ul{
  background-color: aquamarine;
  color: brown;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  

}