<p>assign8-des works!</p>
<div class="container1" role="alert">
  <div class="c1" class="row justify-content-center">
    <div class="col-md-6 md-6 text-left rounded shadow py-5">
      <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm"  >
        <div class="form-row">
          <div>
            <h1> Student Registration Form</h1>
          </div>
          <div class="form-row">
            <div class="col-md-9 mb-3">
              <label> Name of Student :</label>
               <input type="text" class="form-control" placeholder="name of student" name="username"  [(ngModel)]="username" required>
              <small *ngIf="username"> Name of Student:{{username}}</small>
            </div>
          </div>

          <label> Gender :</label>
          <div class="custom-control custom-radio custom-control-inline">

            <input type="radio" id="g" name="Gender" class="custom-control-input"  value="Male"    ngModel >
            <label class="custom-control-label" for="Male">Male</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="g1" name="Gender" class="custom-control-input" value="Female" ngModel >
            <label class="custom-control-label" for="Female ">Female</label>
          </div>


          <label>Enter Date :</label>
          <div class="input-append date" id="dp3" data-date-format="dd-mm-yyyy">

            <input class="span2" size="16" type="date"  name="Date"  value=" dd-mm-yyyy"  ngModel><span class="add-on" ><i
                class="icon-th"></i></span>

          </div>

          <div class="form-row" class="col-md-2 mb-3">
            <label>Select College :</label>
            <select class="form-control form-control-sm"  name="selectedCollege"  ngModel [ngModel]="defoltValue2"  >
              <option selected>Choose...</option>
              <option> D.Y .Patil</option>
              <option> S.M.SMP.</option>
              <option> S.C.S</option>

            </select>
            <div class="form-group col-md-12">
              <label for="inputState">Deparment</label>
              <select id="inputState" class="form-control"  name="Deparment" ngModel  [ngModel]="defoltValue1" >
                <option selected>Choose...</option>
                <option>IT</option>
                <option>ART</option>
                <option>COMMERCE</option>
                <option>SCIENCE</option>
              </select>
            </div>



          </div>
          <div class="form-group" class="col-md-9 mb-3">
            <label for="exampleInputEmail1">Email address:</label>
            <input type="email"   name="EmailAddress" class="form-control" email id="expemail"  value=" email" aria-describedby="emailHelp"
              placeholder="Enter email"  ngModel  #email="ngModel"  required>
            <small id="emailHelp" class="text-danger"  *ngIf="!email.valid && email.touched"> Enter Valid Email Address</small>
          </div>

<div ngModelGroup="AddressDetail"  #AddressDetail="ngModelGroup">
          <div class="form-group" class="col-md-9 mb-3">
            <label for="exampleFormControlTextarea1">Address :</label>
            <textarea class="form-control" id="Textarea1"  name="Address" placeholder="Enter address 1" rows="3"
            ngModel ></textarea>
          </div>



          <div class="form-row">
            <div class="col-md-9 mb-3">
              <div class="form-group">
                <label for="inputAddress2">Address2:</label>
                <input type="text" class="form-control" id="inputAddress2"  name="Address2" placeholder="Apartment, studio, or floor" ngModel>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-9 mb-3">
              <label for="validationServer03">City:</label>
              <input type="text" class="form-control is-invalid" id="validationServer03" name="City" ngModel placeholder="City"   >
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>

            <div class="form-group col-md-9">
              <label for="State">State:</label>
              <select id="State1" class="form-control"   name="State" ngModel >
                <option selected>Choose...</option>
                <option>Maharastra</option>
                <option>Gijrat</option>
                <option>Rajastan</option>
                <option>Panjab</option>
              </select>
            </div>
          </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input is-invalid" type="checkbox" value="c1" id="invalidCheck3"  name="Agree_value"   >
                <label class="form-check-label" for="invalidCheck3">
                  Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>

            <div class="custom-file">
              <label> Attach Your Certificates :</label><br>
              <input type="file" class="custom-file-input" id="customFile"  name="certificates" ngModel >
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div><br>




            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-2" [disabled]="!myForm.valid"    >Submit</button>
              &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<button type="reset" class="btn btn-success"   > Reset </button>
            </div>


          </div>
        </div>
      </form>
    </div>
<div class="row jestify-content-center mb-4">
  <div class=" col-md-6 py-4  rounded shadow"  *ngIf="submitted">
    <h2> Student Information</h2>
    <p>UserName:<strong>{{stud.UserName}}</strong></p>
    <p>Gender:<strong>{{stud.Gender}}</strong></p>
    <p>Date:<strong>{{stud.Date}}</strong></p>
    <p>College:<strong>{{stud.College}} </strong></p>
    <p>Department:<strong> {{stud.Department}}</strong></p>
    <p>Address:<strong>{{stud.Address}} </strong></p>
    <p>City:<strong> {{stud.City}}</strong></p>
    <p>State:<strong>{{stud.State}} </strong></p>
  </div>
</div>