<!-- 

<div class="containar" style="background-color: rgb(215, 181, 247);">
  <h5 style="text-align: center;">  BB FINANCE API DATA </h5>
  <h6 style="text-align: center;">  NEWS </h6>
  <div class="row  justify containt center">

    <div class="col-md-12" py-6>
      <table class="table">
        <thead>
          <tr>

            <th>card</th>
            <th>date</th>
            <th>id</th>
            <th>longURL</th>
            <th>thumbnailImage</th>
            <th>title</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[0].card}} </td>
            <td> {{b.news[0].date}} </td>
            <td> {{b.news[0].id}} </td>
            <td> {{b.news[0].longURL}} </td>
            <td> {{b.news[0].thumbnailImage}} </td>
            <td> {{b.news[0].title}} </td>
          </tr>



          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[1].card}} </td>
            <td> {{b.news[1].date}} </td>
            <td> {{b.news[1].id}} </td>
            <td> {{b.news[1].longURL}} </td>
            <td> {{b.news[1].thumbnailImage}} </td>
            <td> {{b.news[1].title}} </td>
          </tr>


          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[2].card}} </td>
            <td> {{b.news[2].date}} </td>
            <td> {{b.news[2].id}} </td>
            <td> {{b.news[2].longURL}} </td>
            <td> {{b.news[2].thumbnailImage}} </td>
            <td> {{b.news[2].title}} </td>
          </tr>

          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[3].card}} </td>
            <td> {{b.news[3].date}} </td>
            <td> {{b.news[3].id}} </td>
            <td> {{b.news[3].longURL}} </td>
            <td> {{b.news[3].thumbnailImage}} </td>
            <td> {{b.news[3].title}} </td>
          </tr>

          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[4].card}} </td>
            <td> {{b.news[4].date}} </td>
            
            <td> {{b.news[4].id}} </td>
            <td> {{b.news[4].longURL}} </td>
            <td> {{b.news[4].thumbnailImage}} </td>
            <td> {{b.news[4].title}} </td>
          </tr>


          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[5].card}} </td>
            <td> {{b.news[5].date}} </td>
            <td> {{b.news[5].id}} </td>
            <td> {{b.news[5].longURL}} </td>
            <td> {{b.news[5].thumbnailImage}} </td>
            <td> {{b.news[5].title}} </td>
          </tr>
          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[6].card}} </td>
            <td> {{b.news[6].date}} </td>
            <td> {{b.news[6].id}} </td>
            <td> {{b.news[6].longURL}} </td>
            <td> {{b.news[6].thumbnailImage}} </td>
            <td> {{b.news[6].title}} </td>
          </tr>
          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[7].card}} </td>
            <td> {{b.news[7].date}} </td>
            <td> {{b.news[7].id}} </td>
            <td> {{b.news[7].longURL}} </td>
            <td> {{b.news[7].thumbnailImage}} </td>
            <td> {{b.news[7].title}} </td>
          </tr>
          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[8].card}} </td>
            <td> {{b.news[8].date}} </td>
            <td> {{b.news[8].id}} </td>
            <td> {{b.news[8].longURL}} </td>
            <td> {{b.news[8].thumbnailImage}} </td>
            <td> {{b.news[8].title}} </td>
          </tr>
          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[9].card}} </td>
            <td> {{b.news[9].date}} </td>
            <td> {{b.news[9].id}} </td>
            <td> {{b.news[9].longURL}} </td>
            <td> {{b.news[9].thumbnailImage}} </td>
            <td> {{b.news[9].title}} </td>
          </tr>
          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[10].card}} </td>
            <td> {{b.news[10].date}} </td>
            <td> {{b.news[10].id}} </td>
            <td> {{b.news[10].longURL}} </td>
            <td> {{b.news[10].thumbnailImage}} </td>
            <td> {{b.news[10].title}} </td>
          </tr>
          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[11].card}} </td>
            <td> {{b.news[11].date}} </td>
            <td> {{b.news[11].id}} </td>
            <td> {{b.news[11].longURL}} </td>
            <td> {{b.news[11].thumbnailImage}} </td>
            <td> {{b.news[11].title}} </td>
          </tr>
          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[12].card}} </td>
            <td> {{b.news[12].date}} </td>
            <td> {{b.news[12].id}} </td>
            <td> {{b.news[12].longURL}} </td>
            <td> {{b.news[12].thumbnailImage}} </td>
            <td> {{b.news[12].title}} </td>
          </tr>
          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[13].card}} </td>
            <td> {{b.news[13].date}} </td>
            <td> {{b.news[13].id}} </td>
            <td> {{b.news[13].longURL}} </td>
            <td> {{b.news[13].thumbnailImage}} </td>
            <td> {{b.news[13].title}} </td>
          </tr>
          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[14].card}} </td>
            <td> {{b.news[14].date}} </td>
            <td> {{b.news[14].id}} </td>
            <td> {{b.news[14].longURL}} </td>
            <td> {{b.news[14].thumbnailImage}} </td>
            <td> {{b.news[14].title}} </td>
          </tr>
          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[15].card}} </td>
            <td> {{b.news[15].date}} </td>
            <td> {{b.news[15].id}} </td>
            <td> {{b.news[15].longURL}} </td>
            <td> {{b.news[15].thumbnailImage}} </td>
            <td> {{b.news[15].title}} </td>
          </tr>
          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[16].card}} </td>
            <td> {{b.news[16].date}} </td>
            <td> {{b.news[16].id}} </td>
            <td> {{b.news[16].longURL}} </td>
            <td> {{b.news[16].thumbnailImage}} </td>
            <td> {{b.news[16].title}} </td>
          </tr>
          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[17].card}} </td>
            <td> {{b.news[17].date}} </td>
            <td> {{b.news[17].id}} </td>
            <td> {{b.news[17].longURL}} </td>
            <td> {{b.news[17].thumbnailImage}} </td>
            <td> {{b.news[17].title}} </td>
          </tr>
          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[18].card}} </td>
            <td> {{b.news[18].date}} </td>
            <td> {{b.news[18].id}} </td>
            <td> {{b.news[18].longURL}} </td>
            <td> {{b.news[18].thumbnailImage}} </td>
            <td> {{b.news[18].title}} </td>
          </tr>
          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[19].card}} </td>
            <td> {{b.news[19].date}} </td>
            <td> {{b.news[19].id}} </td>
            <td> {{b.news[19].longURL}} </td>
            <td> {{b.news[19].thumbnailImage}} </td>
            <td> {{b.news[19].title}} </td>
          </tr>
          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[20].card}} </td>
            <td> {{b.news[20].date}} </td>
            <td> {{b.news[20].id}} </td>
            <td> {{b.news[20].longURL}} </td>
            <td> {{b.news[20].thumbnailImage}} </td>
            <td> {{b.news[20].title}} </td>
          </tr>

          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[21].card}} </td>
            <td> {{b.news[21].date}} </td>
            <td> {{b.news[21].id}} </td>
            <td> {{b.news[21].longURL}} </td>
            <td> {{b.news[21].thumbnailImage}} </td>
            <td> {{b.news[21].title}} </td>
          </tr>
          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[22].card}} </td>
            <td> {{b.news[22].date}} </td>
            <td> {{b.news[22].id}} </td>
            <td> {{b.news[22].longURL}} </td>
            <td> {{b.news[22].thumbnailImage}} </td>
            <td> {{b.news[22].title}} </td>
          </tr>
          <tr *ngFor="let b of  arrposts">
            <td> {{b.news[23].card}} </td>
            <td> {{b.news[23].date}} </td>
            <td> {{b.news[23].id}} </td>
            <td> {{b.news[23].longURL}} </td>
            <td> {{b.news[23].thumbnailImage}} </td>
            <td> {{b.news[23].title}} </td>
          </tr>
          <tr *ngFor="let b of   arrposts">
            <td> {{b.news[24].card}} </td>
            <td> {{b.news[24].date}} </td>
            <td> {{b.news[24].id}} </td>
            <td> {{b.news[24].longURL}} </td>
            <td> {{b.news[24].thumbnailImage}} </td>
            <td> {{b.news[24].title}} </td>
          </tr>


        </tbody>
      </table>








    </div>
  </div>
</div>


 



<div class="containar" style="background-color: rgb(206, 227, 130);">
  <h5 style="text-align: center;">  BB FINANCE API DATA </h5>
  <h6 style="text-align: center;">  QUOTE </h6>
  <div class="row  justify containt center  ">
   <div class="col-md-12">
    <div>
      <table class="table">
         
          <thead>
             
              <tr>
                  <th> card</th>
                  <th>country</th>
                  <th>currency</th>
                  <th>id</th>
                  <th>name</th>
                  <th> region</th>
                  <th>resourceId</th>
                  <th>resourceSubtype</th>
                  <th>resourceType</th>
                  <th> securityType </th>
                  <th> symbol</th>
                  <th>template</th>
                  <th>ticker</th>
                  <th>tickerName</th>
                  <th>tinyName</th>
                  <th>title</th>
                
                <th>watchlist
                  </th>
              </tr>
           </thead>
    
      <tbody>
          <tr *ngFor="let p of arrposts">
              <td>{{p.quote[0]. card }}</td>
              <td>{{p.quote[0]. country}}</td>
              <td>{{p.quote[0]. currency}}</td>
              <td>{{p.quote[0]. id}}</td>

              <td>{{p.quote[0]. name }}</td>
              <td>{{p.quote[0]. region}}</td>
              <td>{{p.quote[0]. resourceId  }}</td>
              <td>{{p.quote[0]. resourceSubtype }}</td>
              <td>{{p.quote[0]. resourceType }}</td>
              <td>{{p.quote[0]. securityType}}</td>
              <td>{{p.quote[0]. symbol }}</td>
              <td>{{p.quote[0]. template}}</td>
              <td>{{p.quote[0]. ticker }}</td>
              <td>{{p.quote[0]. tickerName  }}</td>
              <td>{{p.quote[0]. tinyName}}</td>
              <td>{{p.quote[0]. watchlist}}</td>
          </tr>

          <tr *ngFor="let p of arrposts">
            <td>{{p.quote[1]. card }}</td>
            <td>{{p.quote[1]. country}}</td>
            <td>{{p.quote[1]. currency}}</td>
            <td>{{p.quote[1]. id}}</td>

            <td>{{p.quote[1]. name }}</td>
            <td>{{p.quote[1]. region}}</td>
            <td>{{p.quote[1]. resourceId  }}</td>
            <td>{{p.quote[1]. resourceSubtype }}</td>
            <td>{{p.quote[1]. resourceType }}</td>
            <td>{{p.quote[1]. securityType}}</td>
            <td>{{p.quote[1]. symbol }}</td>
            <td>{{p.quote[1]. template}}</td>
            <td>{{p.quote[1]. ticker }}</td>
            <td>{{p.quote[1]. tickerName  }}</td>
            <td>{{p.quote[1]. tinyName}}</td>
            <td>{{p.quote[1]. watchlist}}</td>
        </tr>

        <tr *ngFor="let p of arrposts">
          <td>{{p.quote[2]. card }}</td>
          <td>{{p.quote[2]. country}}</td>
          <td>{{p.quote[2]. currency}}</td>
          <td>{{p.quote[2]. id}}</td>

          <td>{{p.quote[2]. name }}</td>
          <td>{{p.quote[2]. region}}</td>
          <td>{{p.quote[2]. resourceId  }}</td>
          <td>{{p.quote[2]. resourceSubtype }}</td>
          <td>{{p.quote[2]. resourceType }}</td>
          <td>{{p.quote[2]. securityType}}</td>
          <td>{{p.quote[2]. symbol }}</td>
          <td>{{p.quote[2]. template}}</td>
          <td>{{p.quote[2]. ticker }}</td>
          <td>{{p.quote[2]. tickerName  }}</td>
          <td>{{p.quote[2]. tinyName}}</td>
          <td>{{p.quote[2]. watchlist}}</td>
      </tr>

      <tr *ngFor="let p of arrposts">
        <td>{{p.quote[3]. card }}</td>
        <td>{{p.quote[3]. country}}</td>
        <td>{{p.quote[3]. currency}}</td>
        <td>{{p.quote[3]. id}}</td>

        <td>{{p.quote[3]. name }}</td>
        <td>{{p.quote[3]. region}}</td>
        <td>{{p.quote[3]. resourceId  }}</td>
        <td>{{p.quote[3]. resourceSubtype }}</td>
        <td>{{p.quote[3]. resourceType }}</td>
        <td>{{p.quote[3]. securityType}}</td>
        <td>{{p.quote[3]. symbol }}</td>
        <td>{{p.quote[3]. template}}</td>
        <td>{{p.quote[3]. ticker }}</td>
        <td>{{p.quote[3]. tickerName  }}</td>
        <td>{{p.quote[3]. tinyName}}</td>
        <td>{{p.quote[3]. watchlist}}</td>
    </tr>

    <tr *ngFor="let p of arrposts">
      <td>{{p.quote[4]. card }}</td>
      <td>{{p.quote[4]. country}}</td>
      <td>{{p.quote[4]. currency}}</td>
      <td>{{p.quote[4]. id}}</td>

      <td>{{p.quote[4]. name }}</td>
      <td>{{p.quote[4]. region}}</td>
      <td>{{p.quote[4]. resourceId  }}</td>
      <td>{{p.quote[4]. resourceSubtype }}</td>
      <td>{{p.quote[4]. resourceType }}</td>
      <td>{{p.quote[4]. securityType}}</td>
      <td>{{p.quote[4]. symbol }}</td>
      <td>{{p.quote[4]. template}}</td>
      <td>{{p.quote[4]. ticker }}</td>
      <td>{{p.quote[4]. tickerName  }}</td>
      <td>{{p.quote[4]. tinyName}}</td>
      <td>{{p.quote[4]. watchlist}}</td>
  </tr>

  <tr *ngFor="let p of arrposts">
    <td>{{p.quote[5]. card }}</td>
    <td>{{p.quote[5]. country}}</td>
    <td>{{p.quote[5]. currency}}</td>
    <td>{{p.quote[5]. id}}</td>

    <td>{{p.quote[5]. name }}</td>
    <td>{{p.quote[5]. region}}</td>
    <td>{{p.quote[5]. resourceId  }}</td>
    <td>{{p.quote[5]. resourceSubtype }}</td>
    <td>{{p.quote[5]. resourceType }}</td>
    <td>{{p.quote[5]. securityType}}</td>
    <td>{{p.quote[5]. symbol }}</td>
    <td>{{p.quote[5]. template}}</td>
    <td>{{p.quote[5]. ticker }}</td>
    <td>{{p.quote[5]. tickerName  }}</td>
    <td>{{p.quote[5]. tinyName}}</td>
    <td>{{p.quote[5]. watchlist}}</td>
</tr>

<tr *ngFor="let p of arrposts">
  <td>{{p.quote[6]. card }}</td>
  <td>{{p.quote[6]. country}}</td>
  <td>{{p.quote[6]. currency}}</td>
  <td>{{p.quote[6]. id}}</td>
  <td>{{p.quote[6]. name }}</td>
  <td>{{p.quote[6]. region}}</td>
  <td>{{p.quote[6]. resourceId  }}</td>
  <td>{{p.quote[6]. resourceSubtype }}</td>
  <td>{{p.quote[6]. resourceType }}</td>
  <td>{{p.quote[6]. securityType}}</td>
  <td>{{p.quote[6]. symbol }}</td>
  <td>{{p.quote[6]. template}}</td>
  <td>{{p.quote[6]. ticker }}</td>
  <td>{{p.quote[6]. tickerName  }}</td>
  <td>{{p.quote[6]. tinyName}}</td>
  <td>{{p.quote[6]. watchlist}}</td>
</tr>

<tr *ngFor="let p of arrposts">
  <td>{{p.quote[7]. card }}</td>
  <td>{{p.quote[7]. country}}</td>
  <td>{{p.quote[7]. currency}}</td>
  <td>{{p.quote[7]. id}}</td>

  <td>{{p.quote[7]. name }}</td>
  <td>{{p.quote[7]. region}}</td>
  <td>{{p.quote[7]. resourceId  }}</td>
  <td>{{p.quote[7]. resourceSubtype }}</td>
  <td>{{p.quote[7]. resourceType }}</td>
  <td>{{p.quote[7]. securityType}}</td>
  <td>{{p.quote[7]. symbol }}</td>
  <td>{{p.quote[7]. template}}</td>
  <td>{{p.quote[7]. ticker }}</td>
  <td>{{p.quote[7]. tickerName  }}</td>
  <td>{{p.quote[7]. tinyName}}</td>
  <td>{{p.quote[7]. watchlist}}</td>
</tr>

<tr *ngFor="let p of arrposts">
  <td>{{p.quote[8]. card }}</td>
  <td>{{p.quote[8]. country}}</td>
  <td>{{p.quote[8]. currency}}</td>
  <td>{{p.quote[8]. id}}</td>

  <td>{{p.quote[8]. name }}</td>
  <td>{{p.quote[8]. region}}</td>
  <td>{{p.quote[8]. resourceId  }}</td>
  <td>{{p.quote[8]. resourceSubtype }}</td>
  <td>{{p.quote[8]. resourceType }}</td>
  <td>{{p.quote[8]. securityType}}</td>
  <td>{{p.quote[8]. symbol }}</td>
  <td>{{p.quote[8]. template}}</td>
  <td>{{p.quote[8]. ticker }}</td>
  <td>{{p.quote[8]. tickerName  }}</td>
  <td>{{p.quote[8]. tinyName}}</td>
  <td>{{p.quote[8]. watchlist}}</td>
</tr>

<tr *ngFor="let p of arrposts">
  <td>{{p.quote[9]. card }}</td>
  <td>{{p.quote[9]. country}}</td>
  <td>{{p.quote[9]. currency}}</td>
  <td>{{p.quote[9]. id}}</td>

  <td>{{p.quote[9]. name }}</td>
  <td>{{p.quote[9]. region}}</td>
  <td>{{p.quote[9]. resourceId  }}</td>
  <td>{{p.quote[9]. resourceSubtype }}</td>
  <td>{{p.quote[9]. resourceType }}</td>
  <td>{{p.quote[9]. securityType}}</td>
  <td>{{p.quote[9]. symbol }}</td>
  <td>{{p.quote[9]. template}}</td>
  <td>{{p.quote[9]. ticker }}</td>
  <td>{{p.quote[9]. tickerName  }}</td>
  <td>{{p.quote[9]. tinyName}}</td>
  <td>{{p.quote[9]. watchlist}}</td>
</tr>

<tr *ngFor="let p of arrposts">
  <td>{{p.quote[10]. card }}</td>
  <td>{{p.quote[10]. country}}</td>
  <td>{{p.quote[10]. currency}}</td>
  <td>{{p.quote[10]. id}}</td>

  <td>{{p.quote[10]. name }}</td>
  <td>{{p.quote[10]. region}}</td>
  <td>{{p.quote[10]. resourceId  }}</td>
  <td>{{p.quote[10]. resourceSubtype }}</td>
  <td>{{p.quote[10]. resourceType }}</td>
  <td>{{p.quote[10]. securityType}}</td>
  <td>{{p.quote[10]. symbol }}</td>
  <td>{{p.quote[10]. template}}</td>
  <td>{{p.quote[10]. ticker }}</td>
  <td>{{p.quote[10]. tickerName  }}</td>
  <td>{{p.quote[10]. tinyName}}</td>
  <td>{{p.quote[10]. watchlist}}</td>
</tr>

<tr *ngFor="let p of arrposts">
  <td>{{p.quote[11]. card }}</td>
  <td>{{p.quote[11]. country}}</td>
  <td>{{p.quote[11]. currency}}</td>
  <td>{{p.quote[11]. id}}</td>

  <td>{{p.quote[11]. name }}</td>
  <td>{{p.quote[11]. region}}</td>
  <td>{{p.quote[11]. resourceId  }}</td>
  <td>{{p.quote[11]. resourceSubtype }}</td>
  <td>{{p.quote[11]. resourceType }}</td>
  <td>{{p.quote[11]. securityType}}</td>
  <td>{{p.quote[11]. symbol }}</td>
  <td>{{p.quote[11]. template}}</td>
  <td>{{p.quote[11]. ticker }}</td>
  <td>{{p.quote[11]. tickerName  }}</td>
  <td>{{p.quote[11]. tinyName}}</td>
  <td>{{p.quote[11]. watchlist}}</td>
</tr>

<tr *ngFor="let p of arrposts">
  <td>{{p.quote[12]. card }}</td>
  <td>{{p.quote[12]. country}}</td>
  <td>{{p.quote[12]. currency}}</td>
  <td>{{p.quote[12]. id}}</td>

  <td>{{p.quote[12]. name }}</td>
  <td>{{p.quote[12]. region}}</td>
  <td>{{p.quote[12]. resourceId  }}</td>
  <td>{{p.quote[12]. resourceSubtype }}</td>
  <td>{{p.quote[12]. resourceType }}</td>
  <td>{{p.quote[12]. securityType}}</td>
  <td>{{p.quote[12]. symbol }}</td>
  <td>{{p.quote[12]. template}}</td>
  <td>{{p.quote[12]. ticker }}</td>
  <td>{{p.quote[12]. tickerName  }}</td>
  <td>{{p.quote[12]. tinyName}}</td>
  <td>{{p.quote[12]. watchlist}}</td>
</tr>

<tr *ngFor="let p of arrposts">
  <td>{{p.quote[0]. card }}</td>
  <td>{{p.quote[0]. country}}</td>
  <td>{{p.quote[0]. currency}}</td>
  <td>{{p.quote[0]. id}}</td>

  <td>{{p.quote[0]. name }}</td>
  <td>{{p.quote[0]. region}}</td>
  <td>{{p.quote[0]. resourceId  }}</td>
  <td>{{p.quote[0]. resourceSubtype }}</td>
  <td>{{p.quote[0]. resourceType }}</td>
  <td>{{p.quote[0]. securityType}}</td>
  <td>{{p.quote[0]. symbol }}</td>
  <td>{{p.quote[0]. template}}</td>
  <td>{{p.quote[0]. ticker }}</td>
  <td>{{p.quote[0]. tickerName  }}</td>
  <td>{{p.quote[0]. tinyName}}</td>
  <td>{{p.quote[0]. watchlist}}</td>
</tr>

<tr *ngFor="let p of arrposts">
  <td>{{p.quote[0]. card }}</td>
  <td>{{p.quote[0]. country}}</td>
  <td>{{p.quote[0]. currency}}</td>
  <td>{{p.quote[0]. id}}</td>

  <td>{{p.quote[0]. name }}</td>
  <td>{{p.quote[0]. region}}</td>
  <td>{{p.quote[0]. resourceId  }}</td>
  <td>{{p.quote[0]. resourceSubtype }}</td>
  <td>{{p.quote[0]. resourceType }}</td>
  <td>{{p.quote[0]. securityType}}</td>
  <td>{{p.quote[0]. symbol }}</td>
  <td>{{p.quote[0]. template}}</td>
  <td>{{p.quote[0]. ticker }}</td>
  <td>{{p.quote[0]. tickerName  }}</td>
  <td>{{p.quote[0]. tinyName}}</td>
  <td>{{p.quote[0]. watchlist}}</td>
</tr>

<tr *ngFor="let p of arrposts">
  <td>{{p.quote[0]. card }}</td>
  <td>{{p.quote[0]. country}}</td>
  <td>{{p.quote[0]. currency}}</td>
  <td>{{p.quote[0]. id}}</td>

  <td>{{p.quote[0]. name }}</td>
  <td>{{p.quote[0]. region}}</td>
  <td>{{p.quote[0]. resourceId  }}</td>
  <td>{{p.quote[0]. resourceSubtype }}</td>
  <td>{{p.quote[0]. resourceType }}</td>
  <td>{{p.quote[0]. securityType}}</td>
  <td>{{p.quote[0]. symbol }}</td>
  <td>{{p.quote[0]. template}}</td>
  <td>{{p.quote[0]. ticker }}</td>
  <td>{{p.quote[0]. tickerName  }}</td>
  <td>{{p.quote[0]. tinyName}}</td>
  <td>{{p.quote[0]. watchlist}}</td>
</tr>

<tr *ngFor="let p of arrposts">
  <td>{{p.quote[0]. card }}</td>
  <td>{{p.quote[0]. country}}</td>
  <td>{{p.quote[0]. currency}}</td>
  <td>{{p.quote[0]. id}}</td>

  <td>{{p.quote[0]. name }}</td>
  <td>{{p.quote[0]. region}}</td>
  <td>{{p.quote[0]. resourceId  }}</td>
  <td>{{p.quote[0]. resourceSubtype }}</td>
  <td>{{p.quote[0]. resourceType }}</td>
  <td>{{p.quote[0]. securityType}}</td>
  <td>{{p.quote[0]. symbol }}</td>
  <td>{{p.quote[0]. template}}</td>
  <td>{{p.quote[0]. ticker }}</td>
  <td>{{p.quote[0]. tickerName  }}</td>
  <td>{{p.quote[0]. tinyName}}</td>
  <td>{{p.quote[0]. watchlist}}</td>
</tr>

<tr *ngFor="let p of arrposts">
  <td>{{p.quote[0]. card }}</td>
  <td>{{p.quote[0]. country}}</td>
  <td>{{p.quote[0]. currency}}</td>
  <td>{{p.quote[0]. id}}</td>

  <td>{{p.quote[0]. name }}</td>
  <td>{{p.quote[0]. region}}</td>
  <td>{{p.quote[0]. resourceId  }}</td>
  <td>{{p.quote[0]. resourceSubtype }}</td>
  <td>{{p.quote[0]. resourceType }}</td>
  <td>{{p.quote[0]. securityType}}</td>
  <td>{{p.quote[0]. symbol }}</td>
  <td>{{p.quote[0]. template}}</td>
  <td>{{p.quote[0]. ticker }}</td>
  <td>{{p.quote[0]. tickerName  }}</td>
  <td>{{p.quote[0]. tinyName}}</td>
  <td>{{p.quote[0]. watchlist}}</td>
</tr>

<tr *ngFor="let p of arrposts">
  <td>{{p.quote[0]. card }}</td>
  <td>{{p.quote[0]. country}}</td>
  <td>{{p.quote[0]. currency}}</td>
  <td>{{p.quote[0]. id}}</td>

  <td>{{p.quote[0]. name }}</td>
  <td>{{p.quote[0]. region}}</td>
  <td>{{p.quote[0]. resourceId  }}</td>
  <td>{{p.quote[0]. resourceSubtype }}</td>
  <td>{{p.quote[0]. resourceType }}</td>
  <td>{{p.quote[0]. securityType}}</td>
  <td>{{p.quote[0]. symbol }}</td>
  <td>{{p.quote[0]. template}}</td>
  <td>{{p.quote[0]. ticker }}</td>
  <td>{{p.quote[0]. tickerName  }}</td>
  <td>{{p.quote[0]. tinyName}}</td>
  <td>{{p.quote[0]. watchlist}}</td>
</tr>

<tr *ngFor="let p of arrposts">
  <td>{{p.quote[0]. card }}</td>
  <td>{{p.quote[0]. country}}</td>
  <td>{{p.quote[0]. currency}}</td>
  <td>{{p.quote[0]. id}}</td>

  <td>{{p.quote[0]. name }}</td>
  <td>{{p.quote[0]. region}}</td>
  <td>{{p.quote[0]. resourceId  }}</td>
  <td>{{p.quote[0]. resourceSubtype }}</td>
  <td>{{p.quote[0]. resourceType }}</td>
  <td>{{p.quote[0]. securityType}}</td>
  <td>{{p.quote[0]. symbol }}</td>
  <td>{{p.quote[0]. template}}</td>
  <td>{{p.quote[0]. ticker }}</td>
  <td>{{p.quote[0]. tickerName  }}</td>
  <td>{{p.quote[0]. tinyName}}</td>
  <td>{{p.quote[0]. watchlist}}</td>
</tr>

<tr *ngFor="let p of arrposts">
  <td>{{p.quote[0]. card }}</td>
  <td>{{p.quote[0]. country}}</td>
  <td>{{p.quote[0]. currency}}</td>
  <td>{{p.quote[0]. id}}</td>

  <td>{{p.quote[0]. name }}</td>
  <td>{{p.quote[0]. region}}</td>
  <td>{{p.quote[0]. resourceId  }}</td>
  <td>{{p.quote[0]. resourceSubtype }}</td>
  <td>{{p.quote[0]. resourceType }}</td>
  <td>{{p.quote[0]. securityType}}</td>
  <td>{{p.quote[0]. symbol }}</td>
  <td>{{p.quote[0]. template}}</td>
  <td>{{p.quote[0]. ticker }}</td>
  <td>{{p.quote[0]. tickerName  }}</td>
  <td>{{p.quote[0]. tinyName}}</td>
  <td>{{p.quote[0]. watchlist}}</td>
</tr>

<tr *ngFor="let p of arrposts">
  <td>{{p.quote[0]. card }}</td>
  <td>{{p.quote[0]. country}}</td>
  <td>{{p.quote[0]. currency}}</td>
  <td>{{p.quote[0]. id}}</td>

  <td>{{p.quote[0]. name }}</td>
  <td>{{p.quote[0]. region}}</td>
  <td>{{p.quote[0]. resourceId  }}</td>
  <td>{{p.quote[0]. resourceSubtype }}</td>
  <td>{{p.quote[0]. resourceType }}</td>
  <td>{{p.quote[0]. securityType}}</td>
  <td>{{p.quote[0]. symbol }}</td>
  <td>{{p.quote[0]. template}}</td>
  <td>{{p.quote[0]. ticker }}</td>
  <td>{{p.quote[0]. tickerName  }}</td>
  <td>{{p.quote[0]. tinyName}}</td>
  <td>{{p.quote[0]. watchlist}}</td>
</tr>

<tr *ngFor="let p of arrposts">
  <td>{{p.quote[0]. card }}</td>
  <td>{{p.quote[0]. country}}</td>
  <td>{{p.quote[0]. currency}}</td>
  <td>{{p.quote[0]. id}}</td>

  <td>{{p.quote[0]. name }}</td>
  <td>{{p.quote[0]. region}}</td>
  <td>{{p.quote[0]. resourceId  }}</td>
  <td>{{p.quote[0]. resourceSubtype }}</td>
  <td>{{p.quote[0]. resourceType }}</td>
  <td>{{p.quote[0]. securityType}}</td>
  <td>{{p.quote[0]. symbol }}</td>
  <td>{{p.quote[0]. template}}</td>
  <td>{{p.quote[0]. ticker }}</td>
  <td>{{p.quote[0]. tickerName  }}</td>
  <td>{{p.quote[0]. tinyName}}</td>
  <td>{{p.quote[0]. watchlist}}</td>
</tr>

<tr *ngFor="let p of arrposts">
  <td>{{p.quote[0]. card }}</td>
  <td>{{p.quote[0]. country}}</td>
  <td>{{p.quote[0]. currency}}</td>
  <td>{{p.quote[0]. id}}</td>

  <td>{{p.quote[0]. name }}</td>
  <td>{{p.quote[0]. region}}</td>
  <td>{{p.quote[0]. resourceId  }}</td>
  <td>{{p.quote[0]. resourceSubtype }}</td>
  <td>{{p.quote[0]. resourceType }}</td>
  <td>{{p.quote[0]. securityType}}</td>
  <td>{{p.quote[0]. symbol }}</td>
  <td>{{p.quote[0]. template}}</td>
  <td>{{p.quote[0]. ticker }}</td>
  <td>{{p.quote[0]. tickerName  }}</td>
  <td>{{p.quote[0]. tinyName}}</td>
  <td>{{p.quote[0]. watchlist}}</td>
</tr>
<tr *ngFor="let p of arrposts">
  <td>{{p.quote[24]. card }}</td>
  <td>{{p.quote[0]. country}}</td>
  <td>{{p.quote[0]. currency}}</td>
  <td>{{p.quote[0]. id}}</td>

  <td>{{p.quote[0]. name }}</td>
  <td>{{p.quote[0]. region}}</td>
  <td>{{p.quote[0]. resourceId  }}</td>
  <td>{{p.quote[0]. resourceSubtype }}</td>
  <td>{{p.quote[0]. resourceType }}</td>
  <td>{{p.quote[0]. securityType}}</td>
  <td>{{p.quote[0]. symbol }}</td>
  <td>{{p.quote[0]. template}}</td>
  <td>{{p.quote[0]. ticker }}</td>
  <td>{{p.quote[0]. tickerName  }}</td>
  <td>{{p.quote[0]. tinyName}}</td>
  <td>{{p.quote[0]. watchlist}}</td>
</tr>


      </tbody>
  </table>
  </div>

   </div>

  </div>
</div> -->




<button class="btn btn-primary"   height="40 " width="50"  (click)="createPost()"></button> 