<!-- <p>attri works!</p>
<div [ngStyle]="{color:courval}">
    Angular is best
</div>
<h4>Ng Class</h4>

<ul *ngFor="let person of people">
    <li [ngClass]="{
        'text-success': person.country === 'UK',
        'text-primary': person.country === 'USA',
        'text-danger': person.country === 'HK'
    }">
 
     {{person.name}} ({{person.country}})
    </li>
</ul>
<p>Normal para</p>
<p appCustdir>Custom para</p> -->

<!-- <h4> password validation</h4> -->
 <!-- <label>Enter Password </label><input   appPasswordval type="password" value=""><br>

 <label>Enter Password </label><input   appPasswordval type="password" value=""> -->

<!-- <div>

 <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
	<div class="form-group">
		<label for="name">Email</label>
		<input type="text" class="form-control" formControlName="email">
		<div *ngIf="submitted && registerForm.get('email').errors" class="alert alert-danger">
			<div *ngIf="registerForm.get('email').errors.required">Email is required</div>
		</div>
	</div>

	<div class="form-group">
		<label for="name">Password</label>
		<input type="password" class="form-control" formControlName="password">
		<div *ngIf="submitted && registerForm.get('password').errors" class="alert alert-danger">
			<div *ngIf="registerForm.get('password').errors.required">Password is required</div>
		</div>
	</div>

	<div class="form-group">
		<label for="name">Confirm Password</label>
		<input type="password" class="form-control" formControlName="confirmPassword">
		<div *ngIf="submitted && registerForm.get('confirmPassword').errors" class="alert alert-danger">
			<div *ngIf="registerForm.get('confirmPassword').errors.required">Confirm Password is required</div>

			<div *ngIf="registerForm.get('confirmPassword').errors.confirmPasswordValidator">Passsword and
				Confirm Password didn't match. </div>
		</div>
	</div>
	<button type="submit" class="btn btn-success">Submit</button>
</form>

</div> -->


<!-- 

<div class="container">  
    <div class="row justify-content-center">  
        <div class="col-md-8">  
            <div class="card">  
                <div class="card-header">Register</div>  
                <form (ngSubmit)="onSubmit()" #frm="ngForm">   
                    <div class="card-body">  
                        <div class="form-group row">  
                            <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>  
                            <div class="col-md-6">  
                                <input type="text" [ngModel]='user.email'  class="form-control" name="email">  
                            </div>  
                        </div>  
                        <div class="form-group row">  
                            <label for="username" class="col-md-4 col-form-label text-md-right">User Name</label>  
                            <div class="col-md-6">  
                                <input type="text" [ngModel]='user.username' class="form-control" name="username">  
                            </div>  
                        </div>  
                        <div class="form-group row">  
                            <label for="pass" class="col-md-4 col-form-label text-md-right">Password</label>  
                            <div class="col-md-6">  
                                <input type="password" [ngModel]='user.password' class="form-control" name="txtPassword" #txtPassword="ngModel" compare-password="txtConfirmPassword" parent="true" required>  
                                <span class="text-danger" *ngIf="txtPassword.dirty && txtPassword.errors && txtPassword.errors.required">Password is required </span>  
                            </div>  
                        </div>  
                        <div class="form-group row">  
                            <label for="confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>  
                            <div class="col-md-6">  
                                <input type="password" [ngModel]='user.confirmPassword' class="form-control" name="txtConfirmPassword" #txtConfirmPassword="ngModel" compare-password="txtPassword" required>   
                                <span class="text-danger" *ngIf="txtConfirmPassword.dirty && txtConfirmPassword.errors && txtConfirmPassword.errors.required">Password is required </span>  
                                <span class="text-danger" *ngIf="txtConfirmPassword.dirty && ((txtPassword.errors && txtPassword.errors.compare) || (txtConfirmPassword.errors && txtConfirmPassword.errors.compare)) && !txtConfirmPassword.errors.required">Password Doesn't match</span>  
                            </div>  
                        </div>  
                        <div class="col-md-6 offset-md-4">  
                            <button type="submit" [disabled]="!frm.isValid" class="btn btn-primary">  
                                Register  
                            </button>  
                        </div>  
                    </div>  
                </form >  
  
            </div>  
        </div>  
    </div>  
</div>   -->
<!-- <p> use of #uusername</p>
<input type="text " name="" id="" #uusername>
<button (click)="show(uusername.value)">show </button>
<div>
{{uname}}</div> -->

