<p>selectlist works!</p>

<div class="card" >
    <img src="../../assets/tv.webp" class="card-img-top" alt="card image cap">
    <div class="card-body">
      <h5 class="card-title">TV</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="tv" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" >
    <img src="../../assets/tab.jpg" class="card-img-top" alt="card image cap">
    <div class="card-body">
      <h5 class="card-title">tab</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="tablet" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
