<p>reactiveform works!</p>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-left rounded shadow py-5">
            <h2> Reactive Form</h2>
            <form [formGroup]=" myReactiveform" (ngSubmit)="OnSubmit()">
                <div  formGroupName="userDetail">
                <div class="form-group">
                <label>User Name:</label><br>
                <input type="text"  class="form-control" name=" userName" id="userName " placeholder="Enter User Name "  formControlName="userName" >
                <small   class="text-danger"  *ngIf="!myReactiveform.get('userDetail.userName').valid  && myReactiveform.get('userDetail.userName').touched" >
                <small *ngIf="myReactiveform.get('userDetail.userName').errors['required']"> Please enter name</small>
                <small *ngIf="myReactiveform.get('userDetail.userName').errors['notAllowedNames']"> User name not valid  {{myReactiveform.get('userDetail.userName').value }}</small>
                   

                </small> 
              
        
           
            </div>

            <div  class="form-group">
                    <label> Email Address:</label><br>
                <input type="email"   class="form-control" name="" id="" placeholder="Enter Email Address "  formControlName="email" >
                <small   class="text-danger"  *ngIf="!myReactiveform.get('userDetail.email').valid  && myReactiveform.get('userDetail.email').touched" >
                    <small *ngIf="myReactiveform.get('userDetail.email').errors['required']"> Please enter Email</small>
                <small *ngIf="myReactiveform.get('userDetail.email').errors['emailNotAllowed']"> User name not valid  {{myReactiveform.get('userDetail.email').value }}</small>
                   </small>
            </div>
        </div>

            <div class="form-group"> 
                <label for="course">Select Course</label>
                <select class="form-control" name="course" id="course"   formControlName="Course" [ngModel]="defoultvalue">
                    <option value="Angular">Angular</option>
                    <option value="HTML">HTML</option>
                    <option value="JavaScript">JavaScript</option>
                </select>
            </div>



            <div class="form-group">
                <div *ngFor="let gender of genders" class="custom-control custom-radio">
                 <input type="radio" id="{{gender.id}}" name="gender" value="{{gender.value}}"   formControlName="gender"    ngModel class="custom-control-input">
                 <label for="{{gender.id}}" class="custom-control-label">{{gender.value}}</label>
                </div>

            </div>
            <div class="form-group" formArrayName="skills">
                <label >Skills</label>
                <ng-container *ngFor="let skill of this.myReactiveform.get('skills').controls; index as i">
                    <input type="text" class="form-control mt-2" formControlName="{{i}}" placeholder="Add Skills">
                </ng-container>
                <button class="btn btn-light btn-sm mt-4 btn-add" (click)="OnAddSkills()"><i>+</i> Add Skills</button>
            </div>




            


                <button type="submit"  class="btn btn-primary" mt-4>Submit </button>
            </form>
        

        </div>
        <div class="row justify-content-center mt-2" *ngIf="submitted">
            <div class="col-md-6 rounded shadow py-4">
                <h2>Reactive Form Data</h2>
                <p>User Name : <strong>{{myReactiveform.get('userDetail.userName').value}}</strong></p>
                <p>User Email : <strong>{{myReactiveform.get('userDetail.email').value}}</strong></p>
                <p>Selected Course : <strong>{{myReactiveform.get('Course').value}}</strong></p>
                <p>Gender : <strong>{{myReactiveform.get('gender').value}}</strong></p>

        </div>
    </div>


 </div>