<p>assign25 works!</p>
<div>
    <table>
    <p>assign25 works!</p>
<h3>Came to know about us from</h3>
<input type="checkbox" (click)="Onclick()"><label >Friends</label>
<input type="checkbox" (click)="!Onclick()"><label >NewsPaper</label>
<input type="checkbox" (click)="!Onclick()"><label >Website</label>
<input type="checkbox" (click)="!Onclick()"><label >Others</label>
<p *ngIf="checkbox">Khow information from Friends</p>
<p *ngIf="!checkbox">Khow information from NewsPaper</p>
<p *ngIf="!checkbox">Khow information from Website</p>
<p *ngIf="!checkbox">Khow informationfrom from Others</p>
</table>
</div>
<!-- *ngIf="checkValue" -->